@model IEnumerable<Domain.Rezervacija>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista svih rezervacija</h1>

<p>
    <a asp-action="Create">Kreiraj novu rezervaciju</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Radnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klijent)
            </th>
            <th>
                Datum i vreme OD
            </th>
            <th>
                Datum i vreme DO
            </th>
            <th>
                Mesto
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Radnik.ToString();
            </td>
            <td>
                @item.Klijent.ToString();
            </td>
            <td>
                @item.DatumVremeOd;
            </td>
            <td>
                @item.DatumVremeDo;
            </td>
            <td>
                @Html.ActionLink("Izmeni", "Edit", new { id = item.RezervacijaId }) |
                @Html.ActionLink("Prikaži detalje", "Details", new { id = item.RezervacijaId }) |
                @Html.ActionLink("Obriši", "Delete", new { id = item.RezervacijaId })
            </td>
        </tr>
}
    </tbody>
</table>
