@using Domain;
@model IEnumerable<Domain.Sto>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista svih stolova</h1>

<p>
    <a asp-action="Create">Kreiraj novi sto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kapacitet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Sto item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kapacitet)
            </td>
            <td>
                    @item.Mesto.ToString()
            </td>
            <td>
                @Html.ActionLink("Izmeni", "Edit", new { id = item.RbStola }) |
                    @Html.ActionLink("Prikaži detalje", "Details", new { id = item.RbStola }) |
                    @Html.ActionLink("Obriši", "Delete", new { id = item.RbStola })
            </td>
        </tr>
}
    </tbody>
</table>
